*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

/* Encabezado */
header {
    background-color:  #a93226;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.header-container h1 {
    color: white;
    font-size: 2rem; /* Ajusta el tamaño según prefieras */
    margin-left: 1rem; /* Espacio entre la imagen y el texto */
}


.header-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: black;
}


.ruta {
    font-size: 0.9em;
    color: #333;
    margin: 20px;
}

.ruta a {
    color: #a93226;
    text-decoration: none;
}

.ruta a:hover {
    text-decoration: underline;
}

h1 {
    color: #a93226;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #333;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input, select, textarea, button {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.clasificacion{
    width: 94%;
}

button {
    background-color: #a93226;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #8b2a1f;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%; 
   
}