
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 


}

main {
    flex: 1;
}


.ruta {
    font-size: 0.9em;
    color: #333;
    margin: 20px;
} 

.ruta a {
    color: #a93226;
    text-decoration: none;
}
 
.ruta a:hover {
    text-decoration: underline;
}

h1, h2 {
    color: #a93226;
}

/*logo de tienda*/

/* Encabezado */
header {
    background-color:  #a93226;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}


.header-container h1 {
    color: white;
    font-size: 2rem; /* Ajusta el tamaño según prefieras */
    margin-left: 1rem; /* Espacio entre la imagen y el texto */
}


.header-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin-right: 20px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.nav-bar a:hover {
    color: black;
}



main > h2 {
    text-align: center;
    margin: 10px;
}


.formulario-pedido {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h2 {
    color: #a93226;
}

.productos {
    margin-top: 20px;
}

.btn-agregar-producto {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-agregar-producto:hover {
    background-color: #45a049;
}

.btn-enviar {
    background-color: #a93226;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
}

.btn-enviar:hover {
    background-color: #922b22;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%; 
   
}